/*-----------------THEME------------------*/

html {
    font-size: 16px;
    min-width: 500px;
}

body {
    background: $greyLight;
}


/*----------------HEADER-------------------*/


/*mettre un id "header" à votre content principale*/


/*----------------SLIDE--------------------*/

#slide{
	margin: 20px auto;
	overflow:hidden;
	width:70%;

    ul{

    	display:flex;
    	list-style: none;
    	transition: all 0.3s ease-in-out;
    }

    ul li img {
    	width:200%;

    }
}



/*mettre un id "slide" à votre content principale*/


/*----------------CONTENT------------------*/

#content {
    color: $grey;
    margin: 2rem 2rem;
    text-align: center;
    .title {
        font-family: $tangerine;
        font-size: 5rem;
        text-align: center;
    }
    .plat {
        background: $white;
        transition-duration: 0.1s;
        @include border-radius(1rem);
        border: 0.1rem solid #BDBDBD;
        display: inline-block;
        margin: 0.5rem;
        padding: 0.5rem;
        width: 30%;
        img {
            @include border-radius(0.5rem);
            transition-duration: 0.2s;
            width: 60%;
            margin: 1rem 0.5rem;
        }
        h3 {
            font-size: 1.5rem;
            color: $brown;
        }
    }
    .plat:hover {
        box-shadow: 0.2rem 0.2rem 0.2rem #BDBDBD;
        img {
            width: 62%;
        }
    }
}


/*----------------------MAP-----------------------*/


/*mettre un id "map" à votre content principale*/
