/*-----------------THEME------------------*/

html {
    font-size: 16px;
}

body {
    background: $greyLight;
}


/*----------------HEADER-------------------*/


/*mettre un id "header" à votre content principale*/


/*----------------SLIDE--------------------*/


/*mettre un id "slide" à votre content principale*/


/*----------------CONTENT------------------*/

#content {
    #container {
        position: absolute;
        width: 90%;
        height: 80%;
        h1,
        h2 {
            font-family: 'Tangerine', cursive;
        }
        img {
            position: absolute;
            width: 15%;
            height: 22%;
            margin-top: 3%;
            margin-left: 1%;
        }
        h1 {
            margin-top: 5%;
            font-size: 55px;
        }
        h2 {
            position: absolute;
            margin-left: 21%;
            margin-top: -1rem;
            font-size: 35px;
        }
        .description {
            width: 80%;
            height: 35%;
        }
        p {
            position: absolute;
            margin-left: 17%;
            margin-top: 4%;
        }
    }
}


/*----------------------MAP-----------------------*/


/*mettre un id "map" à votre content principale*/